{% extends "base.html" %}

{% block static %}
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'training/styles/theme_config.css' %}">
<script type="text/javascript" src="{% static 'training/scripts/script.js' %}"></script>
{% endblock static %}
{% block content %}
<div id="header">
    <h1 class="title">Quick Trainner</h1>
    <p class="text1">¡{{user}} cambia los colores!</p>
</div>
<div id="content">
    <div class="control-group">
        <ul class="buttons">
            <li class="li_rdn">
                <input id="rdbtn1" type="radio" name="radio" class="radiobtn" />
                <span id="span_1"></span>
                <label for="rdbtn1">Azul</label>
            </li>
            <li class="li_rdn">
                <input id="rdbtn2" type="radio" name="radio" class="radiobtn" />
                <span id="span_2"></span>
                <label for="rdbtn2">Rojo</label>
            </li>
            <li class="li_rdn">
                <input id="rdbtn3" type="radio" name="radio" class="radiobtn" />
                <span id="span_3"></span>
                <label for="rdbtn3">Verde</label>
            <li>
    </div>
    <div>
        <a href="config.html"><button type="button" class="btn_return">Regresar</button></a>
        <button id="btn_save" onclick="colorSelect()">Guardar</button>
    </div>
</div>
{% endblock content %}
{% block bar %}
{% endblock bar %}
