{% extends "base.html" %}

{% block static %}
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'training/styles/theme.css' %}">
{% endblock static %}
{% block content %}
<div id="header">
    <h1 class="title">Quick Trainner</h1>
    <p class="text1">{{user}}, tu opinión es importante para nosotros</p>
</div>
<div id="content">
    <p>Si tiene dudas acerca de una función o problemas con el funcionamiento Quick Traineer puede escribirnos al correo: bar14484@uvg.edu.gt. <br>También consultar el manual de usuario o ver la sección de preguntas frecuentes para solucionar el problema.</p>
</div>
{% endblock content %}
{% block bar %}
<div id="footer">
    <ul class="menuBar">
        <li><a href="faq.html" class="bar_option">Preguntas frecuentes</a></li>
        <li><a href="contact.html" class="bar_option">Contáctanos</a></li>
        <li><a href="homepage.html" class="bar_option">Inicio</a></li>
    </ul>
</div>
{% endblock bar %}

