{% block static %}
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'training/styles/theme_train.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'training/styles/theme.css' %}">
<script type="text/javascript" src="{% static 'training/scripts/script.js' %}"></script>
{% endblock static %}
{% block content %}
<div id="header">
    <h1 class="title">Quick Trainner </h1>
    <p class="text1">{{user}}, diseña el entrenamiento</p>
</div>
<div id="content">
    <form action="/sesionEntrenamiento.html" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="input-w">
            <label class="text1" for="{{ field.name }}">{{ field.label }}</label>
            <p>{{ field }}</p>
        </div>
        {% endfor %}
        <div class="subcontent">
            <a href="homepage.html"><button type="button" class="btn_return">Regresar</button></a>
            <input type="submit" id="btn_train" value="Iniciar">
        </div>
    </form>
</div>
{% endblock content %}
{% block bar %}
<div id="footer">
    <ul class="menuBar">
        <li><a href="faq.html" class="bar_option">Preguntas frecuentes</a></li>
        <li><a href="contact.html" class="bar_option">Contáctanos</a></li>
        <li><a href="homepage.html" class="bar_option">Inicio</a></li>
    </ul>
</div>
{% endblock bar %}


