{% extends "base.html" %}

{% block static %}
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'training/styles/theme_train.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'training/styles/theme.css' %}">   
{% endblock static %}
{% block content %}
<div id="main">
    <div id="header">
        <h1 class="title">Quick Trainner</h1>
        <p class="text1">{{user}} cambia tu contraseña, recuerda anotarla.</p>
    </div>
    <div id="content">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }} text1"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="entry_block">
            <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <p class="text1">
                        {{ field.label_tag }}
                    </p>
                    {{ field }}
                    {% endfor %}
                    <div style="padding: 10px 40px 11px 40px">
                    <a href="config.html" ><button type="button" style="padding: 5px 10px 5px 10px" class="btn_return">Regresar</button></a>
                    <button type="submit" class="button" style="padding: 5px 10px 5px 10px">Guardar cambios</button>
                    </div>
            </form>
            </div>
    </div>
{% endblock content %}
{% block bar %}
    <div id="footer">
        <ul class="menuBar">
            <li><a href="faq.html" class="bar_option">Preguntas frecuentes</a></li>
            <li><a href="contact.html" class="bar_option">Contáctanos</a></li>
            <li><a href="homepage.html" class="bar_option">Inicio</a></li>
        </ul>
    </div>
</div>
{% endblock bar %}

