{% extends "base.html" %}

{% block static %}
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'training/styles/theme_train.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'training/styles/theme.css' %}">
<script src="http://127.0.0.1:5000/socket.io/socket.io.js"></script>
<script type="text/javascript" src="{% static 'training/scripts/script.js' %}"></script>
<script type="text/javascript" src="{% static 'training/scripts/Chart.js' %}"></script>
{% endblock static %}
{% block content %}
<div class="main">
    <div id="header">
        <h1 class="title">Quick Trainner</h1>
        <p class="text1">{{user}}, has iniciado tu entrenamiento</p>
    </div>
    <div id="results_panel" class="content">
        <div style="width:75%">
            <canvas id="canvas"></canvas>
        </div>
        <button id="randomizeData">Randomize Data</button>
        <script>
            var color = Chart.helpers.color;
            var scatterChartData = {
                datasets: [{
                    label: 'My First dataset',
                    borderColor: window.chartColors.red,
                    backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                    data: [{
                        x: randomScalingFactor(),
                        y: randomScalingFactor(),
                    }, {
                        x: randomScalingFactor(),
                        y: randomScalingFactor(),
                    }, {
                        x: randomScalingFactor(),
                        y: randomScalingFactor(),
                    }, {
                        x: randomScalingFactor(),
                        y: randomScalingFactor(),
                    }, {
                        x: randomScalingFactor(),
                        y: randomScalingFactor(),
                    }, {
                        x: randomScalingFactor(),
                        y: randomScalingFactor(),
                    }, {
                        x: randomScalingFactor(),
                        y: randomScalingFactor(),
                    }]
                }, {
                    label: 'My Second dataset',
                    borderColor: window.chartColors.blue,
                    backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                    data: [{
                        x: randomScalingFactor(),
                        y: randomScalingFactor(),
                    }, {
                        x: randomScalingFactor(),
                        y: randomScalingFactor(),
                    }, {
                        x: randomScalingFactor(),
                        y: randomScalingFactor(),
                    }, {
                        x: randomScalingFactor(),
                        y: randomScalingFactor(),
                    }, {
                        x: randomScalingFactor(),
                        y: randomScalingFactor(),
                    }, {
                        x: randomScalingFactor(),
                        y: randomScalingFactor(),
                    }, {
                        x: randomScalingFactor(),
                        y: randomScalingFactor(),
                    }]
                }]
            };
            window.onload = function() {
                var ctx = document.getElementById('canvas').getContext('2d');
                window.myScatter = Chart.Scatter(ctx, {
                    data: scatterChartData,
                    options: {
                        title: {
                            display: true,
                            text: 'Chart.js Scatter Chart'
                        },
                    }
                });
            };
            document.getElementById('randomizeData').addEventListener('click', function() {
                scatterChartData.datasets.forEach(function(dataset) {
                    dataset.data = dataset.data.map(function() {
                        return {
                            x: randomScalingFactor(),
                            y: randomScalingFactor()
                        };
                    });
                });
                window.myScatter.update();
            });
        </script>
    </div>
    <div class="subcontent">
        <a href="homepage.html" style="text-decoration:none"><button type="button" id="btn_home">Página de Inicio</button></a>
    </div>
</div>
{% endblock content %}
{% block bar %}
{% endblock bar %}