{% extends "base.html" %}

{% block static %}
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'training/styles/theme_train.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'training/styles/theme.css' %}">
<script type="text/javascript" src="{% static 'training/scripts/script.js' %}"></script>
<script type="text/javascript" src="{% static 'training/scripts/countdown.js' %}"></script>
{% endblock static %}
{% block content %}
<div id="header">
    <h1 class="title">Quick Trainner</h1>
    <p class="text1">{{user}}, has iniciado tu entrenamiento</p>
</div>
<div id="content">
    <p id="timer"></p>
    <div id="backPanel" class="subcontent">
        {% csrf_token %}
    </div>
</div>
{% endblock content %}
{% block bar %}
{% endblock bar %}