{% block static %}
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'training/styles/theme_game.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'training/styles/theme.css' %}">
{% endblock static %}
{% block content %}
<div id="main">
    <div id="header">
        <h1 class="title">Quick Trainner </h1>
        <p class="text1">{{user}}, bienvenido acá podra realizar sus consultas de:</p>
    </div>
    <div id="content">
            <div class="b"><a href="trainingsession_list.html"><button class="sq_button">Entrenamiento</button></a></div>
            
            <div class="b"><a href="gaming_list.html"><button class="sq_button">Juegos</button></a></div>

            <div class="b"><a href="capturesession_list.html"><button class="sq_button">Capturas</button></a></div>
        <div class="subcontent">
            <a href="config.html"><button type="button" class="btn_return">Regresar</button></a>
        </div>    
    </div>
    {% endblock content %}
    {% block bar %}
    <div id="footer">
        <ul class="menuBar">
            <li><a href="faq.html" class="bar_option">Preguntas frecuentes</a></li>
            <li><a href="contact.html" class="bar_option">Contáctanos</a></li>
            <li><a href="homepage.html" class="bar_option">Inicio</a></li>
        </ul>
    </div>
</div>
{% endblock bar %}


