<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quick Traineer</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'training/styles/theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'training/styles/theme_config.css' %}">
</head>
<body class="body_login">
    <div id="header">
    </div >
        <div id="content">
          <div class="entry_block">
            <h1 class="font"><span></span>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
          <hr>
          <p class="text1"> ¿Necesitas una cuenta? <a href="register.html"> Registrarse </a></p>
          <p class="text1"> Regresar a <a href="index.html"> Inicio </a></p>
        </div>
      </div>
        <div id="footer">

        </div>
</body>
